@font-face {
  font-family: "Stadium";
  src: url("../fonts/Stadium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: url("../fonts/bebasneuecyrillic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


